# Titanic Survival prediction using NAIVE BAYES

# Import Datasets

In [28]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_csv(r"C:\Users\DELL\OneDrive\Documents\CSV Files\titanicsurvival.csv")

# Observe the Dataset

In [30]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [31]:
df.isnull().sum()

Pclass        0
Sex           0
Age         177
Fare          0
Survived      0
dtype: int64

# Fill the Null Values

In [32]:
df.columns

Index(['Pclass', 'Sex', 'Age', 'Fare', 'Survived'], dtype='object')

In [33]:
m=df.Age.median()

In [34]:
df=df.fillna({'Age':m})

In [35]:
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female  28.0  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [37]:
df.isnull().any()

Pclass      False
Sex         False
Age         False
Fare        False
Survived    False
dtype: bool

# Summary Statistics

In [38]:
df.describe()

           Pclass         Age        Fare    Survived
count  891.000000  891.000000  891.000000  891.000000
mean     2.308642   29.361582   32.204208    0.383838
std      0.836071   13.019697   49.693429    0.486592
min      1.000000    0.420000    0.000000    0.000000
25%      2.000000   22.000000    7.910400    0.000000
50%      3.000000   28.000000   14.454200    0.000000
75%      3.000000   35.000000   31.000000    1.000000
max      3.000000   80.000000  512.329200    1.000000

# Conversion of Attribute Data to Numeric Data

In [41]:
df=df.replace({"male":1,"female":0})

In [42]:
df

     Pclass  Sex   Age     Fare  Survived
0         3    1  22.0   7.2500         0
1         1    0  38.0  71.2833         1
2         3    0  26.0   7.9250         1
3         1    0  35.0  53.1000         1
4         3    1  35.0   8.0500         0
..      ...  ...   ...      ...       ...
886       2    1  27.0  13.0000         0
887       1    0  19.0  30.0000         1
888       3    0  28.0  23.4500         0
889       1    1  26.0  30.0000         1
890       3    1  32.0   7.7500         0

[891 rows x 5 columns]

# Segregate Independent And Dependent Variables from Dataset

In [43]:
X=df.iloc[:,:-1]

In [44]:
Y=df.iloc[:,-1]

# Training and Testing Data

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.24,random_state=0)

# Feature Scalling

In [49]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [50]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

# Trainning The Model

In [51]:
from sklearn.naive_bayes import GaussianNB

In [52]:
model=GaussianNB()

In [53]:
model.fit(X_train,y_train)

GaussianNB()

# Testing(test Data Prediction)

In [55]:
y_pred=model.predict(X_test)

### difference between predicted and original responses

In [56]:
pd.DataFrame({'Original':y_test,'Predicted':y_pred})

     Original  Predicted
495         0          0
648         0          0
278         0          0
31          1          1
255         1          1
..        ...        ...
482         0          0
210         0          0
647         1          0
50          0          0
852         0          1

[214 rows x 2 columns]

# Validation of the Model

In [59]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [60]:
print("Accuracy of the Model is:",accuracy_score(y_test,y_pred))

Accuracy of the Model is: 0.7757009345794392

In [64]:
print("Confusion Matrix is:")
print(confusion_matrix(y_test,y_pred))

Confusion Matrix is:
[[106  28]
 [ 20  60]]

# User_Prediction using Model

In [68]:
a=model.predict(sc.transform([[2,0,18,71]]))
if a==1:
    print("Survive")
else:
    print("No Survive")

Survive

In [65]:
df.head()

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0